# Range Function

In [1]:
n = range(5)

print(n)

print(type(n))

range(0, 5)
<class 'range'>

In [2]:
n = list(range(5))

print(n)

[0, 1, 2, 3, 4]

In [3]:
n = list(range(4,20))

print(n)

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
n = list(range(5,25,2))
print(n)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [6]:
print(range(20) == range(0,20))

True

In [7]:
l = ["a", "Indore", 10, 20.5]

print(10 in l)

True

In [8]:
print(100 in l)

False

In [9]:
print(10 not in l)

False

In [10]:
l = ["a", "Indore", 10, 20.5]
#            i

#  "Indore" in l
for i in l:
    print(i)

a
Indore
10
20.5

In [11]:
#             i
#         0,1,2,3,4
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
x = "abcd"
#    i

for i in x:
    print(i)

a
b
c
d

In [13]:
x = "abcd"

for i in range(x):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [14]:
x = "abcd"

#          0,1,2,3
for i in range(len(x)):
    print(i)

0
1
2
3

In [15]:
x = "abcd"

#          0,1,2,3
for i in range(len(x)):
    x = 'a'
    print(i)

0
1
2
3

In [16]:
x = "abcd"

#          0,1,2,3
for i in range(len(x)):
    x = 'a'
    print(x)

a
a
a
a

In [17]:
x = 123

for i in range(len(x)):
    print(i)

TypeError: object of type 'int' has no len()

In [18]:
x = 123

for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [19]:
x = "123"

for i in x:
    print(i)

1
2
3

# Dictionary

In [ ]:
44 % 10 -> 4
45 % 10 -> 5
34 % 10 -> 4

             44  45
             34

[11,22,44,10,12]

In [ ]:
#      key: value
# property: value
# JSON

# Dictionary are unordered data structures

In [20]:
d = { "A": "Indore", 20: "Goa", 3: [1,2,3,4]}

print(d)

print(type(d))

{'A': 'Indore', 20: 'Goa', 3: [1, 2, 3, 4]}
<class 'dict'>

In [25]:
d['A']

'Indore'

In [22]:
d['Indore']

KeyError: 'Indore'

In [26]:
d[3]

[1, 2, 3, 4]

In [27]:
d = {[1,2,3]: "India"}

print(d)

TypeError: unhashable type: 'list'

# functions

In [29]:
d = {6:2, 2:10, 3:16, 7:25}

print(d)

{6: 2, 2: 10, 3: 16, 7: 25}

In [30]:
print(len(d))

4

In [31]:
str(d)

'{6: 2, 2: 10, 3: 16, 7: 25}'

In [32]:
str(d)[0]

'{'

In [33]:
sum(d)  # add the keys

18

In [34]:
a = {1:2, 4:5, "hi":15}

sum(a)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
l = [10,20]

l[0] = 100

print(l)

l[2] = 200

[100, 20]

IndexError: list assignment index out of range

In [36]:
a = {1:2, 4:5, "hi":15}

a[1] = 'Bhopal'

print(a)

{1: 'Bhopal', 4: 5, 'hi': 15}

In [37]:
a[20] = "Indore"

In [38]:
print(a)

{1: 'Bhopal', 4: 5, 'hi': 15, 20: 'Indore'}

In [39]:
d = {1:20, {2:12}:"india"}

TypeError: unhashable type: 'dict'

In [ ]:
{1:1, 2:4, 3:9, 4:16, 5:25, 6:36 .........10:100}

In [40]:
d = {}

print(d)

print(type(d))

{}
<class 'dict'>

In [41]:
d = {}

for i in range(1,11):
    d[i] = i * i

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Tuple

In [42]:
t = (1,2,3,4)
#    0 1 2 3
print(t)

print(type(t))

(1, 2, 3, 4)
<class 'tuple'>

In [43]:
print(t[0])

1

In [44]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
# id / hash code / virtual code

In [45]:
a = 10

print(type(a))

<class 'int'>

In [46]:
print(id(a))

2605495118416

In [48]:
a = 11

print(type(a))

print(id(a))

<class 'int'>
2605495118448

In [49]:
t = (1,2,3,4)

print(id(t))

t = t + (5,6,7)

print(id(t))

2605610200336
2605611143616

In [50]:
print(t)

(1, 2, 3, 4, 5, 6, 7)

In [51]:
t = ()

print(type(t))

<class 'tuple'>

In [53]:
a = (2,)

print(type(a))

<class 'tuple'>

In [54]:
(2 + 3)

5

In [55]:
t = (1,2,3,4,5,66)

In [56]:
print(sum(t))

81

In [57]:
t = ("A", 1,2,4)

print(t)

('A', 1, 2, 4)

In [58]:
t[1:]

(1, 2, 4)

In [59]:
t[:]

('A', 1, 2, 4)

In [60]:
t[::-1]

(4, 2, 1, 'A')

In [61]:
t

('A', 1, 2, 4)

In [62]:
t = ('a','e','i','o','u')
#     0   1   2   3   4

t = t[:2] + t[-2:]
# ('a','e') + ('o','u')

print(t)

('a', 'e', 'o', 'u')

In [66]:
t = (1,2,3)

print(t)
print(id(t))

t1 = t + (1,2)
print(t1)
print(id(t1))

(1, 2, 3)
2605610426880
(1, 2, 3, 1, 2)
2605610200496

In [ ]:
(10.29, 12.45)

# Set

unordered and unindexed

In [67]:
n = {1,2,3,4,4,3,3,2,1}

print(n)

print(type(n))

{1, 2, 3, 4}
<class 'set'>

In [68]:
s = set()

print(s)

print(type(s))

set()
<class 'set'>

In [69]:
n = set([1,2,"A"])

print(n)

{'A', 1, 2}

In [70]:
n = {1,2,33,44,55}

for i in n:
    print(i)

1
2
33
55
44

### set operations

In [71]:
# union
f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f | s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
# intersection
f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f & s)

{4, 5, 6}

In [73]:
# difference
f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f - s)

{1, 2, 3}

In [74]:
print(s - f)

{8, 9, 7}

In [75]:
# symmetric
f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f ^ s)

{1, 2, 3, 7, 8, 9}

In [76]:
f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f == s)

False

In [77]:
print(f <= s)  # f is a subset of s

False

In [78]:
print(f < s) # f is a proper subset of s

False

In [79]:
print(f != s)

True

In [80]:
a = {1,2,3,4,5,6}
b = {4,5,6}

print(a <= b)

False

In [81]:
print(b <= a)

True

In [82]:
print(b < a)

True

In [ ]:
# sets are mutable